<form method="post" action="{% if product %}{% url 'inventory:product_edit' product.pk %}?modal=1{% else %}{% url 'inventory:product_add' %}?modal=1{% endif %}" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <div class="row g-3">
        {% for field in form %}
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    {{ field }}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                </div>
                {% if field.errors %}
                    <div class="invalid-feedback d-block">
                        {{ field.errors|striptags }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="mt-4 d-flex justify-content-end">
        <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">{% if product %}Guardar Cambios{% else %}Crear Producto{% endif %}</button>
    </div>
</form>
